.Rproj.user
.Rhistory
.Ruserdata
R/archives
soilArtificialization.code-workspace
data/**/src
!data/.keep
!data/**/*.RData
data/contours_administratifs_france/AdminExpressCommune.RData
doc/*
!doc/.keep
shared_docker_renv/
